.mainFrame {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    overflow: hidden;
}

@media(min-width:961px) {
    .mainFrame {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        flex-wrap: wrap;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        overflow: hidden;
    }
}