.mainFrame {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    position: relative;
    top: 0;
    left: 0;
}

.topOptions {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.option {
    height: 2.5em;
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em;
    overflow: hidden;
    background: unset;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.logout {
    background: rgba(255, 0, 0, 0.8);
    color: white;
}

@media(min-width:961px) {
    .mainFrame {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .topOptions {
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .option {
        height: 2.5em;
        width: 100%;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid grey;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5em;
        overflow: hidden;
        background: unset;
        font-size: 1.2em;
        font-weight: bold;
        letter-spacing: 1px;
    }
    
    .logout {
        background: rgba(255, 0, 0, 0.8);
        color: white;
    }
}